page-soundboard {
    
    h1 
    {
       color: #B75332;
       font-family: 'TrashHand';
    }

    .title
    {
        font-family: 'schwifty';
        
    }

    .volumeIcon 
    {
        color: #B75332;
    }

    button
    {
        color: #B75332;
    }

    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}


