page-soundboard {
    
    h2 
    {
       color: #B75332;
       font-family: 'schwifty';
       font-size: 48px;
    }

    .title
    {
        font-family: 'schwifty';
        
    }

    .volumeIcon 
    {
        color: #B75332;
    }

    button
    {
        color: #B75332;
    }
}


