<ion-header>
  <ion-navbar color = "dark">
    <ion-title class = "title" >{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

<!--SEARCH BAR-->
<ion-searchbar 
  [(ngModel)]="searchTerm" 
  [formControl]="searchControl"
  (ionInput)="onSearchInput()">
</ion-searchbar>

    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>

<!--List for sounds-->
<ion-list reorder="true" (ionItemReorder)="reorderItems($event)">

  <!--Buttons generated until ngFor cannot find any more sounds-->
  <button ion-item no-lines detail-none *ngFor="let sound of sounds" (click)="play(sound)">
    <h1>{{ sound.title }}</h1>
    <ion-icon  class="volumeIcon" name="volume-up" item-left></ion-icon>
  </button>

</ion-list>

</ion-content>
