<ion-header>
  <ion-navbar color = "dark">
      <ion-title class = "title" >{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 
    <!--Creates a slider that cannot be transitioned with gestures-->
    <ion-slides #slides [options]="slideOptions">
 
        <!-- Opening Start Button -->
        <ion-slide class="start-slide">
            <button ion-button (click)="nextSlide()" (click) = "presentLoadingStart()" (click) = "playStart()">Start</button>
        </ion-slide>
 
         <!-- Loop through cards - Images and Answers -->
        <ion-slide *ngFor="let question of questions; let i = index;">
 
            
 
              <flash-card [isFlipped]="question.flashCardFlipped">
                  <div class="flash-card-front" [innerHTML]="question.flashCardFront"></div>
                  <div class="flash-card-back" [innerHTML]="question.flashCardBack"></div>
              </flash-card>
 
            <h3>{{question.questionText}}</h3>
 
            <ion-list no-lines radio-group>
 
                <ion-item *ngFor="let answer of question.answers; let i = index;">
 
                    <ion-label>{{answer.answer}}</ion-label>
                    <ion-radio (click)="selectAnswer(answer, question)" [checked]="answer.selected" [disabled]="hasAnswered"></ion-radio>
 
                </ion-item>
 
            </ion-list>
 
        </ion-slide>
 
         <!-- Final Score and Reset Page -->
        <ion-slide class="end-slide">
            <h2>final score: {{score}}</h2>
            <h2>final ranking: {{rank}}</h2>
 
            <button (click)="restartQuiz()" (click) = "presentLoadingRestart()" ion-button >Retry</button>
 
        </ion-slide>
 
    </ion-slides>
 
</ion-content>