

    .title
    {
        font-family: 'schwifty'; 
    }

 
    ion-slide {
        align-items: flex-start; //Items are positioned at the beginning of the container
    }

    ion-item {
        margin-bottom: 5px;
        font-size: 1.2em;
    }

    ion-label {
        color: #B75332;
        font-family: 'bearhug'; 
        font-size: 18px;
    }

    flash-card {

        img {
            width: 70%;
            height: auto;
        }
    }

    .start-slide {
        justify-content: center;
        align-items: center;

        button {
            font-size: 1.3em;
            background-color: #B75332;
            font-family: 'schwifty';
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

        .end-slide {
        justify-content: center;
        align-items: center;

        button {
            font-size: 1.3em;
            background-color: #B75332;
            font-family: 'schwifty';
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    h3, h2 {
          color: #B75332;
           font-family: 'bearhug'; 
    }

    
 

