

    .title
    {
        font-family: 'schwifty'; 
    }

 
    ion-slide {
        align-items: flex-start;
    }

    ion-item {
        margin-bottom: 5px;
        font-size: 1.2em;
    }

    ion-label {
        color: #B75332;
        font-family: 'bearhug'; 
        font-size: 18px;
    }

    flash-card {

        img {
            width: 70%;
            height: auto;
        }
    }

    .start-slide {
        justify-content: center;
        align-items: center;

        button {
            font-size: 1.3em;
            font-weight: bold;
            background-color: #B75332;
        }
    }

    h3 {
          color: #B75332;
           font-family: 'bearhug'; 
    }
 

