// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'Dosis-Regular';
  src: url('../assets/fonts/Dosis-Regular.ttf') format('truetype'), url('../assets/fonts/Dosis-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Dosis-SemiBold';
  src: url('../assets/fonts/Dosis-SemiBold.ttf') format('truetype'), url('../assets/fonts/Dosis-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'schwifty';
  src: url('../assets/fonts/schwifty.ttf') format('truetype'), url('../assets/fonts/schwifty.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TrashHand';
  src: url('../assets/fonts/TrashHand.ttf') format('truetype'), url('../assets/fonts/TrashHand.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'banda';
  src: url('../assets/fonts/banda.ttf') format('truetype'), url('../assets/fonts/banda.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}